body {
    font-family: 'Ubuntu', Arial;
}

.flow-card {
    background: #222;
    border-radius: 8px;
    box-shadow: 3px 3px 14px -1px rgba(0,0,0,0.75);
    padding: 16px;
    font-family: 'Ubuntu', Arial;
}

.flow-card .card-subtitle {
    color: #aaa;
    text-transform: uppercase;
    display: block;
    font-size: 0.8rem
}

.flow-changelog-release {
    padding: 16px;
}

.release-title .release-build.build-alpha {
    color: #f80;
}
.release-title .release-build.build-beta {
    color: #cc0;
}
.release-title .release-build {
    color: #08f;
}

.release-title .release-tag {
    text-align: center;
    display: inline-block;

    height: 22px;
    border-radius: 12px;
    padding: 0px 12px;

    font-size:18px;

    vertical-align: middle;

    font-weight: 600;
}

.release-changes .release-change {
    margin: 4px 0;
    display: block;
}

.release-changes .release-change .change-tag {
    text-align: center;
    display: inline-block;
    
    width: 48px;
    height: 24px;
    border-radius: 12px;
    padding: 0px 12px;
    
    vertical-align: top;
    
    font-weight: 600;
}

.release-changes .release-change .change-tag.tag-added {
    background: #2c0;
    color: #000000;
}
.release-changes .release-change .change-tag.tag-modified {
    background: #08f;
    color: #000;
}
.release-changes .release-change .change-tag.tag-fixed {
    background: #f80;
    color: #000;
}
.release-changes .release-change .change-tag.tag-removed {
    background: #f22;
    color: #000;
}
.release-changes .release-change .change-tag.tag-code {
    background: #0cf;
    color: #000;
}

.release-title .release-tag.tag-alpha {
    background: #f80;
    color: #000;
}
.release-title .release-tag.tag-beta {
    background: #cc0;
    color: #000;
}

.release-changes .release-change .change-text {
    display: inline-block;
    margin-left: 8px;
    width: calc(100% - 136px);
}

@media screen and (max-width: 768px) {
    .release-title .release-tag {
        display:none;
    }
}