/*

    Custom css lib for my custom flow design elements

*/

:root {
    --flow-color-blue: #05b;
    --flow-color-blue-light: #06e;

    --flow-color-lblue: #08f;
    --flow-color-lblue-light: #0af;

    --flow-color-cyan: #088;
    --flow-color-cyan-light: #0bb;

    --flow-color-red: #811;
    --flow-color-red-light: #c22;

    --flow-color-gray: #252525;
    --flow-color-gray-light: #323232;
}

@keyframes flow-toggle-bumpon {
    0% {width: 42px; transform: translateX(4px) rotate(3deg);}
    100% {width: 38px; transform: translateX(0px) rotate(0deg);}
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #222; 
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #444; 
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #333; 
}

hr {
    border-top: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
    opacity: 0.75;
    border-radius: 2px;
}

.flow-block {
    background: #121212;
    color: #eee;
    border-radius: 4px;
    transition: all 0.15s linear;
    padding: 10px;
    margin: 8px;
}
.flow-block:hover {
    background: #161616;
    box-shadow: 2px 2px 11px 1px rgba(0,0,0,0.85);
    transform: scale(1.025);
}
.flow-block:active {
    box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.85);
    transform: scale(1.01);
}

.flow-button {
    background: #333;
    border: 0px solid transparent;
    color: #eee;
    border-radius: 4px;
    transition: all 0.15s linear;
    
    padding: 10px;
    display: block;
    margin-top: 4px;
    margin-bottom: 4px;
    transform-style: preserve-3d;
    transform: translateZ(80px)
}
.flow-button:hover {
    box-shadow: 2px 2px 11px 1px rgba(0,0,0,0.85);
    transform: scale(1.025);
    cursor: pointer;
    text-decoration: none;
}
.flow-button:active {
    box-shadow: 1px 2px 1px 1px rgba(0,0,0,0.85);
    transform: scale(1.01);
    cursor: pointer;
    text-decoration: none;
}
.flow-block .flow-button, .flow-button.full {
    width: 100%;
}

.flow-toggle {
    width: 32px;
    height: 12px;
    background: transparent;
    border: 3px solid #555;
    border-radius: 12px;
    transition: all 0.15s ease;
    margin-top: 6px;
    margin-bottom: 6px;
}
.flow-toggle:hover {
    width: 38px;
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.85);
}
.flow-toggle input {
    width: 40px;
    height: 20px;
    cursor: pointer;
    opacity: 0;
    margin: 0;
    padding: 4px;
    position: absolute;
    margin-left: -4px;
    margin-top: -4px;
}
.flow-toggle .flow-toggle-label {
    margin-left: 48px;
    margin-top: -5px;
    width: 320px;
}
.flow-toggle.flow-toggle-on {
    background: var(--flow-color-blue-light);
    border: 3px solid var(--flow-color-blue-light);
    width: 38px;
    animation: 0.5s flow-toggle-bumpon ease;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.85);
}

.flow-toggle-one {
    border-left: 4px solid #555;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 4px;
}


.flow-img {

}
.flow-block .flow-img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 8px;
}


.flow-tag {
    display: inline-block;
    font-size: .8rem;
    margin: 6px;
    padding: 6px;
    background: #333;
    border: 1px solid #555;
    border-radius: 3px;
    vertical-align: middle;
}

/* COLORS */

/* COLORS-BUTTONS*/
.flow-button.flow-color-blue {
    background: var(--flow-color-blue);
}
.flow-button.flow-color-blue:hover {
    background: var(--flow-color-blue-light);
}

.flow-button.flow-color-lblue {
    background: var(--flow-color-lblue);
}
.flow-button.flow-color-lblue:hover {
    background: var(--flow-color-lblue-light);
}

.flow-button.flow-color-cyan {
    background: var(--flow-color-cyan);
}
.flow-button.flow-color-cyan:hover {
    background: var(--flow-color-cyan-light);
}

.flow-button.flow-color-red {
    background: var(--flow-color-red);
}
.flow-button.flow-color-red:hover {
    background: var(--flow-color-red-light);
}

.flow-button.flow-color-gray {
    background: var(--flow-color-gray);
}
.flow-button.flow-color-gray:hover {
    background: var(--flow-color-gray-light);
}




.flow-tag.flow-color-blue {
    background: var(--flow-color-blue);
    border: 1px solid var(--flow-color-blue-light);
}
.flow-tag.flow-color-lblue {
    background: var(--flow-color-lblue);
    border: 1px solid var(--flow-color-lblue-light);
}
.flow-tag.flow-color-cyan {
    background: var(--flow-color-cyan);
    border: 1px solid var(--flow-color-cyan-light);
}
.flow-tag.flow-color-red {
    background: var(--flow-color-red);
    border: 1px solid var(--flow-color-red-light);
}
.flow-tag.flow-color-gray {
    background: var(--flow-color-gray);
    border: 1px solid var(--flow-color-gray-light);
}


.flow-toggle.flow-toggle-on.flow-color-blue {
    background: var(--flow-color-blue-light);
    border: 3px solid var(--flow-color-blue-light);
}
.flow-toggle.flow-toggle-on.flow-color-lblue {
    background: var(--flow-color-lblue-light);
    border: 3px solid var(--flow-color-lblue-light);
}
.flow-toggle.flow-toggle-on.flow-color-cyan {
    background: var(--flow-color-cyan-light);
    border: 3px solid var(--flow-color-cyan-light);
}
.flow-toggle.flow-toggle-on.flow-color-red {
    background: var(--flow-color-red-light);
    border: 3px solid var(--flow-color-red-light);
}
.flow-toggle.flow-toggle-on.flow-color-gray {
    background: var(--flow-color-gray-light);
    border: 3px solid var(--flow-color-gray-light);
}