
body {
    background: #223;
    color: #ddd;
    padding:0;
    margin:0;
}

.background {
    position:fixed;
    width: 120%;
    height: 120%;
    top: -10%;
    left: -10%;
    z-index: -1;
    background: rgba(0,0,0,0.25);
}

#particles-back {
    height:100%;
}

.navbar {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    background: linear-gradient(to bottom, #000, transparent);
    z-index: 69;
}

.section {
    height:100vh;
}

.nav-link-svg {

}

.svg-f:hover #path-f {
    stroke: #804480
}

.nav-link-svg.twitter:hover #path-twitter {
    stroke: #1DA1F2;
}

.nav-link-svg.github:hover .path-github {
    stroke: #888;
}

.nav-link-svg.osu:hover .path-osu {
    stroke: #ff66aa;
}



#head {
    padding-top: 25vh;
}