@font-face {
  font-family: paintypaint;
  src: url("../fonts/paintypaint.ttf");
}

:root {
  --content-bg-color: #121212;
  --content-text-color: #ddd;
}

html {
  background: var(--content-bg-color);
}

body {
  margin: 0;
  padding:0;
  font-family: 'Montserrat', Arial;
}

.bubble-wrap {
  overflow: hidden;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 75vh;
}
.bubble-wrap-cover {
  overflow: hidden;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 75vh;
  background: #000;
  transition: all 0.25s ease;
  top: 0;
  left:0;
  opacity: 0;
}

canvas {
  position: absolute;
  width: 100%;
  height: 75vh;
}

header {
  margin: 0;
  padding:12px;
  width: 100%;
  height: 56px;
  position: fixed;
  z-index: 125;
}

.logo {
  font-family: paintypaint;
  color: #fff;
  font-size: 32px;
  margin:0;
  margin-top: 12px;
  margin-left: 12px;
  display: inline-block;
  text-decoration: none;
  z-index: 3;
  transition: all 0.5s ease;
  text-shadow: 0px 0px 0px transparent, 0px 0px 0px transparent;
}

.logo:hover {
  transition: all 0.5s ease;
  text-shadow: -1px -1px 0px #f00, 2px 2px 0px #08f;
  color: #ccc;
  text-decoration: none;
}

.links {
  margin-top: -39px;

  display: block;
  text-align: center;
}

.links a {
  color: #fff;
  text-align: center;
  font-family: 'Montserrat', Arial;
  padding-left: 12px;
  padding-right: 12px;
  text-decoration: none;
  transition: all 0.3s ease;
  font-weight: 800;
}
.links a:hover {
  color: #ccc;
  text-align: center;
  font-family: 'Montserrat', Arial;
  padding-left: 18px;
  padding-right: 18px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.dropdown:hover > a {
  color: #ccc;
  text-align: center;
  font-family: 'Montserrat', Arial;
  padding-left: 18px;
  padding-right: 18px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    /*display: none;*/
    position: absolute;
    left: 0;
    width: max-content;
    z-index: 1;
    opacity: 0;
    transition: all 0.25s ease !important;
    visibility: hidden;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: left;
    padding-top: 6px;
    padding-left: 17px;
    z-index: 696969;
    padding-right: 0;
}
.dropdown-content a:hover {
    text-align: left;
    padding-top: 8px;
    padding-bottom: 2px;
    padding-left: 20px;
    padding-right: 0;
}

.dropdown:hover .dropdown-content {
  opacity: 1;
  display: block;
  visibility: visible;
}

.wanilla-dash {
  display: none;
}
.wanilla-link:hover ~ .wanilla-dash {
  display: block;
}

.dropdown-item {
  background: #121212;
  color: #eee;
  border-radius: 4px;
  padding: 10px;
  margin: 8px;
  cursor: pointer;
  transition: all 0.15s linear;
}
.dropdown-item:hover {
  box-shadow: 2px 2px 11px 1px rgba(0,0,0,0.85);
  transform: scale(1.025);
}

.dropdown-item.disabled {
  filter: brightness(65%);
  cursor: default;
}
.dropdown-item.disabled:hover {
  box-shadow:unset;
  transform: none;
}

.dropdown-item p {
  margin:0;
  padding:0;
  font-size: 0.75rem;
}

.dropdown-item i {
  font-size: 2rem;
  float: left;
  padding-left: 4px; 
  padding-right: 12px; 
  padding-top: 4px; 
}

.ua-links {
  margin-top: -24px;
  display: block;
  text-align: right;
  margin-right: 24px;
}

.ua-links a {
  color: #fff;
  text-align: center;
  font-family: 'Montserrat', Arial;
  padding-left: 12px;
  padding-right: 12px;
  text-decoration: none;
  transition: all 0.3s ease;
  font-weight: 800;
}
.ua-links a:hover {
  color: #ccc;
  text-align: center;
  font-family: 'Montserrat', Arial;
  padding-left: 18px;
  padding-right: 18px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.search-input {
  border:0;
  background:transparent;
  color:#fff;
  font-family: 'Montserrat', Arial;
  font-size:16px;
  font-weight: 800;

  width: 167px;
}
.search-input:focus {
  outline: none;
}
.search-input::placeholder {
  color: #aaa;
}

#header-title {
  opacity:1;
  z-index: 69;
  transition: all 0.25s ease;
}

.maintitle {
  font-family: 'Montserrat', Arial;
  text-align: center;
  color:#fff;
}
.subtitle {
  font-family: 'Montserrat', Arial;
  text-align: center;
  color:#eee;
}

.wave-divider {
  background: url("../imgs/wave.png");
  height: 198px;
  top: calc(75vh - 198px);
  position: absolute;
  width: 100%;
  background-size: cover;
  filter: brightness(9%);
}

.wave-footer {
  background: url("../imgs/wave.png");
  height: 198px;
  bottom: -98px;
  position: absolute;
  width: 100%;
  background-size: cover;
  filter: brightness(10%);
  opacity: 0.75;
}

.content {
  color: #fff;
  background: #121212;
  position: absolute;
  top:75vh;
  width: calc(100% - 16px);
  padding-bottom: 48px;
  padding:8px;
}


.button {
  background: #121212;
  color: #eee;
  border-radius: 4px;
  padding: 10px;
  margin: 8px;
  cursor: pointer;
  transition: all 0.15s linear;
  width: 100%
}
.button:hover {
  box-shadow: 2px 2px 11px 1px rgba(0,0,0,0.85);
  transform: scale(1.025);
}

.button.disabled {
  filter: brightness(65%);
  cursor: default;
}
.button.disabled:hover {
  box-shadow:unset;
  transform: none;
}

.button p {
  margin:0;
  padding:0;
  font-size: 0.75rem;
}

.button i {
  font-size: 2rem;
  float: left;
  padding-left: 4px; 
  padding-right: 12px; 
  padding-top: 4px; 
}






.footer-right  {
  float: right;
}

.footer-right a {
  text-decoration: none;
  color: #eee;
}

@media screen and (max-width: 965px) {
  .search-full {
    display: none !important;
  }
  .search-icon {
    padding-right: 16px;
  }
}
@media screen and (max-width: 610px) {
  .links {
    display:none;
  }
  .search-icon {
    margin-top: -8px;
  }
  .ua-links {
    margin-top: -40px;
  }
}