<div class="container">
    <h1 style="text-align: center;">Work in progress</h1>
    <p style="text-align: center;">This page is not done yet. Coming soon™ (Oct/Nov 2019)</p>

    <div class="servers">
        <div class="server" *ngFor="let server of servers">
            <h1 class="server-name">{{server.name}}</h1>
            <div class="status">
                <span class="color-green">Online</span>

                <div class="row">
                    <div class="col">
                        <h2>CPU</h2>
                        <chart type="line" [data]="server.data.cpu" [options]="chartOptions"></chart>
                    </div>

                    <div class="col">
                        <h2>RAM</h2>
                        <chart type="line" [data]="server.data.ram" [options]="chartOptions"></chart>
                    </div>

                    <div class="col">
                        <h2>Requests</h2>
                        <chart type="line" [data]="server.data.requests" [options]="chartOptions"></chart>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>