<div class="container">

    <div class="row servers">
        <div class="col server" *ngFor="let server of servers">
            <h1 class="server-name">{{server.name}}</h1>
            <div class="status">
                <span class="green">Online</span>
                
                <chart type="line" [data]="server.dataCPU" [options]="chartOptions"></chart>
                <chart type="line" [data]="server.dataRAM" [options]="chartOptions"></chart>
            </div>
        </div>
    </div>
</div>