.timeline {
  padding-top: 20px;

  .events {
    animation: 0.5s float-up ease-in-out;
  }
  .event {
    margin-top: 64px;

    .event-body {
      margin-left: 24px;
      margin-top: 1rem;
      display: -webkit-inline-box;

      @media (max-width: 768px) {
        margin-left: 0;
      }
    
      ul {
        margin: 0;
        padding-left: 32px;
    
        li {
          margin: 4px 0;
        }
      }
    }
  }
}

.project-title {
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 0;

  @media (max-width: 992px) {
    text-align: center;
  }
}

.release-desc {
  margin-left: 24px;
  @media (max-width: 768px) {
    margin-left: 0;
  }
}

.release-changes {
  .changes-group {
    margin-left: 24px;

    @media (max-width: 768px) {
      margin-left: 0;
    }

    .changes-group-title {
      margin-bottom: 0px;
    }

    .row {
      display: -webkit-inline-box;
      margin-top: 4px;

      ul {
        margin-top: 0;
        margin-bottom: 0;
        list-style-type: disc;
        padding-left: 32px;

        .release-change {
          margin: 4px 0;
          word-wrap: break-word;
        }
      }
    }
  }
}

.loader {
  text-align: center;
  width: 100%;
  margin-top: 48px;
  img {
    width: 48px;
  }
}

.nothing-found-msg {
  text-align: center;
  font-size: 24px;
  margin-top: 48px;

  i {
    font-size: 86px;
    display: block;
    opacity: 0.6;
    margin-bottom: 24px;
  }
}

.sorter {
  text-align: center;
  white-space: nowrap;

  &::-webkit-scrollbar {
    width: 5px !important;
    display: none;
  }

  .reset-filter-link {
    color: #fff;
    text-decoration: none;
    transition: all 0.35s ease;

    &:hover {
      color: #aaa;
    }
    i {
      transition: margin-right 0.35s ease;
    }
    &:hover i {
      margin-right: -6px;
    }
  }

  .project-row {
    overflow-x: scroll;
    padding: 8px 0px;

    @media (max-width: 576px) {
      overflow-x: auto;
    }

    .project-wrapper {
      display: -webkit-inline-box;

      @media (max-width: 576px) {
        display: flex;
        margin: 4px 0;
      }

      .project {
        display: -webkit-inline-box;

        background: #08f;

        margin: 4px;

        border-radius: 6px;
        padding: -6px;

        transition: all 0.5s ease;

        @media (max-width: 576px) {
          width: calc(100% - 16px);
    
          &:not(.high) {
            margin-left: 7px;
          }
        }

        &.high {
          padding: 3px;

          .project-inner .build {
            filter: grayscale(0);
          }
        }

        &[project-id="website"] {
          background: var(--color-project-website);
        }
        &[project-id="wanilla"] {
          background: var(--color-project-wanilla);
        }
        &[project-id="teabotre"] {
          background: var(--color-project-teabotre);
        }

        .project-inner {
          padding: 6px 12px;
          min-width: 128px;
    
          vertical-align: top;
    
          background: var(--color-background-l1);
    
          border-radius: 6px;
    
          cursor: pointer;
    
          transition: all 0.3s ease;
          box-shadow: 0;
    
          text-align: left;
    
          width: calc(100% - 24px);

          .filter-name {
            margin-bottom: 8px;
          }
    
          .build {
            transition: all 0.35s ease;
            filter: grayscale(0.5);
          }

          .build:not(.color-yellow):not(.color-orange) {
            color: #999;
          }
        }
      }
    }
  }

  .type-row {
    margin-top: 12px;

    .type-tab {
      display: inline-block;
      padding: 6px 12px;
      background: var(--color-background-l1);
      border-radius: 15.5px;
      min-width: 48px;
      margin: 0 4px;
      cursor: pointer;
      transition: border 0.35s ease, filter 0.35s ease;
      border: 1.5px solid transparent;

      &:hover {
        filter: var(--filter-hover);
      }
      
      &.high {
        filter: var(--filter-active);

        &.type-everything {
          border-color: var(--color-white);
        }
        &.type-news {
          border-color: var(--color-green);
        }
        &.type-changelogs {
          border-color: var(--color-blue);
        }
        &.type-issues {
          border-color: var(--color-red);
        }
      }
    }
  }
}

.sub-text {
  font-size: 75%;
  vertical-align: bottom;
  color: #888;
}

@media (max-width: 768px) {
  .after-project {
    display: block;
  }
}
