.timeline {
  margin-top: 20px;
  .events {
    animation: 0.5s float-up ease-in-out;
  }
  .event {
    margin-top: 64px;
  }
}

/* .release-changes.alpha {
	border-left: 3px solid #f80;
}
.release-changes.beta {
	border-left: 3px solid #cc0;
}
.release-changes {
	border-left: 3px solid #08f;
	padding-left: 8px;
} */

.project-title {
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 0;

  .before-project {
    font-weight: bold;
    color: #08f;
  }

  .release-build {
    color: #08f;
    font-weight: bold;
  }

  .alpha {
    color: #f80;
  }

  .beta {
    color: #cc0;
  }

  .issue {
    color: var(--color-red);
  }
}

.release-desc {
  margin-left: 24px;
}

.release-changes {
  .changes-group {
    margin-left: 24px;

    .changes-group-title {
      margin-bottom: 0px;
    }

    ul {
      margin-top: 0;
      margin-bottom: 0;
      list-style-type: disc;
      padding-left: 32px;
    }

    .release-change {
      margin: 4px 0;
      word-wrap: break-word;

      .change-tag {
        text-align: center;
        display: inline-block;

        font-family: "Ubuntu", "Montserrat", Arial;

        width: 24px;
        height: 24px;
        border-radius: 12px;
        padding: 0px 12px;

        vertical-align: top;

        font-weight: bold;
        font-size: 18px;
      }
    }
  }

  .row {
    display: -webkit-inline-box;
    margin-top: 4px;
  }

  .added .border {
    background: var(--color-green);
  }
  .updated .border {
    background: var(--color-blue);
  }
  .fixed .border {
    background: var(--color-orange);
  }
  .removed .border {
    background: var(--color-red);
  }
  .code .border {
    background: var(--color-cyan);
  }
}

.loader {
  text-align: center;
  width: 100%;
  margin-top: 24px;
  img {
    width: 48px;
  }
}

.sorter {
  text-align: center;
  white-space: nowrap;
  
  //padding: 8px 0;

  &::-webkit-scrollbar {
    width: 5px !important;
    display: none;
  }

  .reset-filter-link {
    cursor: pointer;
  }

  .project-row {
    overflow-x: scroll;
    @media (max-width: 576px) { 
      overflow-x: auto;
    }

    padding: 8px 0px;
  }

  .project-wrapper {
    display: -webkit-inline-box;
  }

  .project {
    display: -webkit-inline-box;

    margin: 0 4px;
    padding: 6px 12px;

    vertical-align: top;

    background: #223;
    
    border-radius: 6px;

    cursor: pointer;

    transition: all 0.3s ease;
    box-shadow: 0;

    text-align: left;

    @media (max-width: 576px) { 
      width: calc(100% - 32px);
      display: flex;
      margin: 4px 0;
    }

    &.high {
      box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.75);
      filter: brightness(1.15);
    }
    &:hover {
      box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
      filter: brightness(1.05);
    }

    .border {
      margin-left: 0;
      margin-right: 8px;
      transition: all 0.3s ease;
      filter: grayscale(1);
    }

    &[project-id=website] .border {
      background: var(--color-project-website);
    }
    &[project-id=wanilla] .border {
      background: var(--color-project-wanilla);
    }
    &[project-id=teabotre] .border {
      background: var(--color-project-teabotre);
    }

    &.high .border {
      filter: none;
    }

    &:hover .border {
      filter: grayscale(0.6);
    }
  }

  .project .build {
    color: #999;
  }

  .project .filter-name {
    margin-bottom: 8px;
  }
}

.after-project {
  font-weight: bold;

  &.color-red {
    color: var(--color-red);
  }
  &.color-green {
    color: var(--color-green);
  }
  &.color-blue {
    color: var(--color-blue);
  }
  &.color-orange {
    color: var(--color-orange);
  }
  &.color-cyan {
    color: var(--color-cyan);
  }
}

.event-body {
  margin-left: 24px;
  margin-top: 1rem;
  display: -webkit-inline-box;

  ul {
    margin: 0;
    padding-left: 32px;

    li {
      margin: 4px 0;
    }
  }
}

.border {
  background: #fff;
  width: 4px;
  margin-left: 4px;
  border-radius: 2px;

  &.border-red {
    background: var(--color-red);
  }
  &.border-green {
    background: var(--color-green);
  }
  &.border-blue {
    background: var(--color-blue);
  }
  &.border-orange {
    background: var(--color-orange);
  }
  &.border-cyan {
    background: var(--color-cyan);
  }
}
.sub-text {
  font-size: 75%;
  vertical-align: bottom;
  color: #888;
}

@media (max-width: 768px) {
  .release-desc {
    margin-left: 0 !important;
  }
  .changes-group {
    margin-left: 0 !important;
  }
  .event-body {
    margin-left: 0 !important;
  }

  .after-project {
    display: block;
  }
  .release-build {
    // DEPRECATED: Will be removed do to changing classes to more global ones
    display: block;
  }
}
@media (max-width: 992px) {
  .project-title {
    text-align: center;
  }
}
