.timeline {
  margin-top: 64px;
  .events {
    animation: 0.5s float-up ease-in-out
  }
  .event {
    margin-top: 64px;
  }
}

/* .release-changes.alpha {
	border-left: 3px solid #f80;
}
.release-changes.beta {
	border-left: 3px solid #cc0;
}
.release-changes {
	border-left: 3px solid #08f;
	padding-left: 8px;
} */

.release-title {
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 0;

  .before-project {
    font-weight: bold;
    color: #08f;
  }

  .release-build {
    color: #08f;
    font-weight: bold;
  }

  .alpha {
    color: #f80;
  }

  .beta {
    color: #cc0;
  }
}

.release-desc {
  margin-left: 24px;
}

.release-changes {
  .changes-group {
    margin-left: 24px;

    .changes-group-title {
      margin-bottom: 0px;
    }

    ul {
      margin-top: 0;
      margin-bottom: 0;
      list-style-type: disc;
      padding-left: 32px;
    }

    .release-change {
      margin: 4px 0;
      word-wrap: break-word;

      .change-tag {
        text-align: center;
        display: inline-block;

        font-family: "Ubuntu", "Montserrat", Arial;

        width: 24px;
        height: 24px;
        border-radius: 12px;
        padding: 0px 12px;

        vertical-align: top;

        font-weight: bold;
        font-size: 18px;
      }
    }
  }

  .row {
    display: -webkit-inline-box;
    margin-top: 4px;
  }

  .border {
    background: #fff;
    width: 4px;
    margin-left: 4px;
    border-radius: 2px;
  }

  .added .border {
    background: var(--color-green);
  }
  .updated .border {
    background: var(--color-blue);
  }
  .fixed .border {
    background: var(--color-orange);
  }
  .removed .border {
    background: var(--color-red);
  }
  .code .border {
    background: var(--color-cyan);
  }
}

.loader {
  text-align: center;
  width:100%;
  margin-top: 24px;
  img {
    width: 48px;
  }
}


.sorter {
  text-align: center;
  white-space: nowrap;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    width: 5px !important;
    display: none;
  }

  .project {
    display: inline-block;
    margin: 0 4px;
    vertical-align: top;
  }

  .project .build {
    color: #999;
    text-align: center
  }


  .project .filter-button {
    border: 1px solid white;
    border-radius: 16.5px;
    padding: 6px 12px;
    cursor: pointer;
    transition: all 0.35s ease;
  }

  .project .filter-button.active {
    color: #000;
    background: #fff;
    margin: 0 4px;
  }
}

@media (max-width: 768px) {
  .release-desc {
    margin-left: 0 !important;
  }
  .changes-group {
    margin-left: 0 !important;
  }
}
@media (max-width: 992px) {
  .release-title {
    text-align: center;
  }
}
