<div class="container">
    <div class="section" *ngFor="let commandCategory of commands">
        <h1 class="section-title">{{commandCategory.displayName || commandCategory.categoryName}}</h1>
        <mat-accordion>
            <mat-expansion-panel *ngFor="let command of commandCategory.commands">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        !{{command.keywords[0]}}
                    </mat-panel-title>
                    <mat-panel-description>
                        {{command.desc}}
                    </mat-panel-description>
                </mat-expansion-panel-header>

                Do shit
                Do more shit
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>