<div class="container">
    <h1>Commands</h1>
    <p>These commands are pulled directly from the Tea-bot's API - meaning all the commands listed bellow are currently
        accessible in the stable version of the bot (provided you have the correct rights).</p>
    <div class="section" *ngFor="let commandCategory of commands">
        <h2 class="section-title">{{commandCategory.displayName || commandCategory.categoryName}} <span class="command-count">{{commandCategory.commands.length}}</span></h2>
        <mat-accordion>
            <mat-expansion-panel *ngFor="let command of commandCategory.commands" [ngClass]="{
                    'background-orange': (command.rights) ? command.rights.devOnly : false,
                    'background-blue': (command.rights) ? command.rights.adminOnly : false
                }">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        !{{commandCategory.categoryName}}:{{command.keywords[0]}}
                    </mat-panel-title>
                    <mat-panel-description>
                        {{command.desc}}
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="aliases">
                    <b>Accessible via:</b>
                    <span class="alias" *ngFor="let alias of command.keywords">
                        <br>
                        <code>!{{commandCategory.categoryName}}:{{alias}}</code>
                    </span>
                </div>

                <div class="usages" *ngIf="command.usage">
                    <br>

                    <b>Usage:</b>
                    <span class="usage" *ngFor="let usage of command.usage">
                        <br>
                        <code>!{{commandCategory.categoryName}}:{{command.keywords[0]}} {{usage}}</code>
                    </span>
                </div>

                <div class="examples" *ngIf="command.examples">
                    <br>

                    <b>Examples:</b>
                    <span class="example" *ngFor="let example of command.examples">
                        <br>
                        <code>!{{commandCategory.categoryName}}:{{command.keywords[0]}} {{example}}</code>
                    </span>
                </div>

                <div class="banner dev-only-warning" *ngIf="(command.rights) ? command.rights.devOnly : false">
                    <div class="banner-icon">
                        <i class="fas fa-exclamation-triangle"></i>
                    </div>
                    <div class="banner-text">
                        Only developers of Tea-bot can use this. Information about this command has been provided for
                        transparency.
                    </div>
                </div>
                <div class="banner admin-only-warning" *ngIf="(command.rights) ? command.rights.adminOnly : false">
                    <div class="banner-icon">
                        <i class="fas fa-exclamation-triangle"></i>
                    </div>
                    <div class="banner-text">
                        This command can be used only by members with "Administrator" or "Manage server" permissions. If
                        they work in DMs, they can be used there too.
                    </div>
                </div>


            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <h1>Quick responses</h1>

    <div class="section qr-type-plain">
        <h2 class="section-title">Plain <span class="command-count">{{qrs.plain.length}}</span></h2>
        <mat-accordion>
            <mat-expansion-panel *ngFor="let qr of qrs.plain">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        !{{qr.keywords[0]}}
                    </mat-panel-title>
                    <mat-panel-description>
                        Responds with "{{qr.data}}"
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="aliases">
                    <b>Accessible via:</b>
                    <span class="alias" *ngFor="let alias of qr.keywords">
                        <br>
                        <code>!{{alias}}</code>
                    </span>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div class="section qr-type-random">
        <h2 class="section-title">Random <span class="command-count">{{qrs.random.length}}</span></h2>
        <mat-accordion>
            <mat-expansion-panel *ngFor="let qr of qrs.random">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        !{{qr.keywords[0]}}
                    </mat-panel-title>
                    <mat-panel-description>
                        {{qr.data.length}} responses
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="aliases">
                    <b>Accessible via:</b>
                    <span class="alias" *ngFor="let alias of qr.keywords">
                        <br>
                        <code>!{{alias}}</code>
                    </span>
                </div>

                <br>

                <div class="responses">
                    <b>Can respond with:</b>
                    <ul>
                        <li class="response" *ngFor="let response of qr.data">
                            <code>{{response}}</code>
                        </li>
                    </ul>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div class="section qr-type-random">
        <h2 class="section-title">Images <span class="command-count">{{qrs.file.length}}</span></h2>
        <div class="row">
            <div class="col qr-block" *ngFor="let qr of qrs.file">
                <div class="image-wrapper" [style.background]="'url(' + qr.data + ')'"></div>
                <div class="inner">
                    <h2>!{{qr.keywords[0]}}</h2>
                    <span *ngFor="let alias of qr.keywords; let first = first">
                        <code *ngIf="!first">!{{alias}}<br></code>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>