.banner {
  width: calc(100% - 2 * 16px);
  padding: 16px;
  margin-top: 16px;
  margin-bottom: 8px;
  border-radius: 8px;

  background: var(--color-background-l1);

  display: flex;

  .banner-icon {
    padding-right: 16px;
    i {
      font-size: 32px;
      vertical-align: middle;
    }
  }
}

.command-count {
	color: rgba(128,128,128,0.7);
}

.qr-block {
	background: var(--color-background-l1);
	border-radius: var(--border-radius-default);

	.inner {
		padding: 16px;
		h2 {
			margin:0;
		}
	}

  .image-wrapper {
    height: 240px;
		background-size: cover !important;
		background-position: center bottom !important;
		background-repeat: no-repeat !important;

		border-radius: var(--border-radius-default);
  }
}
