@keyframes page-header-trans {
    0% {
        filter: grayscale(1);}
    100% {
        filter: grayscale(0);
    }
}

.page-header-back {
    transition: background 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1
}

.page-header {
    background: linear-gradient(to bottom right, transparent, rgba(0,0,0,0.5));
    padding-top: calc(12vh + 76px);
  
    .edge {
      background:#161622;
      clip-path: polygon(0% 0%, 100% calc(100% - 3px), 100% 100%, 0% 100%);
      margin-top: 14vh;
      z-index: -50;
      transform: translateY(2px);
      height: 48px;
    }
  }

.page-header.transition {
    //animation: .5s page-header-trans ease;
}

.page-content {
    z-index: 20;
    background: var(--color-background);
    position: absolute;
    width:100%;
    min-height: 100vh;
}