<div class="container">
    <h1>Websites</h1>

    <div class="row">
        <div class="project">
            <div class="image">
                <img src="https://via.placeholder.com/720x480.png">
            </div>
            <div class="inner">
                <div class="inner-text">
                    <h1 class="project-name">fajsiex-web</h1>
                    <div class="tags">
                        <div class="color-red">Angular</div>
                    </div>
                    <p>This website. Home to the changelogs, news and docs about my projects!</p>
                </div>
                <div class="inner-buttons">
                    <a class="link-changelog" [routerLink]="['/news/website/all']">News & Changelog</a>
                    <a href="https://github.com/FajsiEx/fajsiex-web" class="link-github">GitHub</a>
                </div>
            </div>
        </div>

        <div class="project">
            <div class="image">
                <img src="https://via.placeholder.com/720x480.png">
            </div>
            <div class="inner">
                <div class="inner-text">
                    <h1 class="project-name">school-programming-circle</h1>
                    <div class="tags">
                        <div class="color-yellow">No framework</div>
                    </div>
                    <p>Small websites I did in school in 2018/19</p>
                </div>
                <div class="inner-buttons">
                    <a href="https://github.com/FajsiEx/school-programming-circle" class="link-github">GitHub</a>
                </div>
            </div>
        </div>
    </div>

    <h1>Back-ends</h1>

    <div class="row">
        <div class="project">
            <div class="image">
                <img src="https://via.placeholder.com/720x480.png">
            </div>
            <div class="inner">
                <div class="inner-text">
                    <h1 class="project-name">wanilla</h1>
                    <div class="tags">
                        <div class="color-green">Node.JS</div>
                    </div>
                    <p>Backend and API for this website. Providing news, changelogs, outage details, server statuses and
                        more...</p>
                </div>

                <div class="inner-buttons">
                    <a class="link-changelog" [routerLink]="['/news/wanilla/all']">News & Changelog</a>
                    <a href="https://github.com/FajsiEx/wanilla" class="link-github">GitHub</a>
                </div>
            </div>
        </div>
    </div>

    <h1>Discord bots</h1>

    <div class="row">
        <div class="project">
            <div class="image">
                <img src="https://via.placeholder.com/720x480.png">
            </div>
            <div class="inner">
                <div class="inner-text">
                    <h1 class="project-name">tea-bot-legacy</h1>
                    <div class="tags">
                        <div class="color-green">Node.JS</div>
                    </div>
                    <p>Old version of tea-bot. Rewritten due to awful code quality.</p>
                </div>

                <div class="inner-buttons">
                    <a href="https://github.com/fajsiex/tea-bot-legacy" class="link-github">GitHub</a>
                </div>
            </div>
        </div>

        <div class="project">
            <div class="image">
                <img src="https://via.placeholder.com/720x480.png">
            </div>
            <div class="inner">
                <div class="inner-text">
                    <h1 class="project-name">tea-bot</h1>
                    <div class="tags">
                        <div class="color-green">Node.JS</div>
                    </div>
                    <p>Rewritten from the ground up.</p>
                </div>

                <div class="inner-buttons">
                    <a class="link-docs" [routerLink]="['/projects/teabotre']">Documentation</a>
                    <a class="link-changelog" [routerLink]="['/news/teabotre/all']">News & Changelog</a>
                    <a href="https://github.com/tea-bot-project/tea-bot" class="link-github">GitHub</a>
                </div>
            </div>
        </div>
    </div>

    <h1>Games</h1>
    <div class="row">
        <div class="project">
            <div class="image">
                <img src="https://via.placeholder.com/720x480.png">
            </div>
            <div class="inner">
                <div class="inner-text">
                    <h1 class="project-name">The Line</h1>
                    <div class="tags">
                        <div class="color-purple">Phaser</div>
                    </div>
                    <p>First game I made and published using Phaser and JS. I would like to remake it in the future...</p>
                </div>

                <div class="inner-buttons">
                    <a href="http://slideme.org/application/line-2" class="link-slideme">SlideMe store</a>
                </div>
            </div>
        </div>
    </div>
</div>