<div class="container">
    <div class="row">

        <div class="project">
            <div class="image">
                <img src="https://via.placeholder.com/720x480.png">
            </div>
            <div class="inner">
                <div class="inner-text">
                    <h1 class="project-name">Website</h1>
                    <p>This website. Home to the changelogs, news and docs about my projects!</p>
                </div>
                <div class="inner-buttons">
                    <a href="https://github.com/FajsiEx/fajsiex-web" class="link-github">GitHub</a>
                    <a href="#" class="link-changelog">Changelog</a>
                </div>
            </div>
        </div>

        <div class="project">
            <div class="image">
                <img src="https://via.placeholder.com/720x480.png">
            </div>
            <div class="inner">
                <div class="inner-text">
                    <h1 class="project-name">Wanilla</h1>
                    <p>Backend and API for this website. Providing news, changelogs, outage details, server statuses and
                        more...</p>
                </div>

                <div class="inner-buttons">
                    <a href="https://github.com/FajsiEx/wanilla" class="link-github">GitHub</a>
                    <a href="#" class="link-changelog">Changelog</a>
                </div>
            </div>
        </div>

        <div class="project">
            <div class="image">
                <img src="https://via.placeholder.com/720x480.png">
            </div>
            <div class="inner">
                <div class="inner-text">
                    <h1 class="project-name">Tea-bot Re:Write</h1>
                    <p>Rewritten from the ground up.</p>
                </div>

                <div class="inner-buttons">
                    <a href="https://github.com/tea-bot-project/tea-bot" class="link-github">GitHub</a>
                    <a href="#" class="link-changelog">Changelog</a>
                    <a href="#" class="link-docs">Documentation</a>
                </div>
            </div>
        </div>

    </div>
</div>