<div class="container">
    <div class="row">

        <div class="project column">
            <div class="project-details">
                <h1 class="project-name">Website</h1>
                <p>This website. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae natus asperiores
                    tempore neque quibusdam quas ratione cum, dolorem distinctio dolorum consequuntur commodi nobis
                    cumque delectus ipsum, hic dolores in sapiente!</p>
                
                <div class="projects-stats">
                    <span class="stat-commits">144 commits</span>
                    <span class="stat-stars">2 stars</span>
                    <span class="stat-forks">1 fork</span>
                </div>
            </div>
        </div>

    </div>
</div>