<div class="header-background" [style.opacity]="headerBackOpacity"></div>
<nav (mouseover)="setNavBackOpacity(true)" (mouseout)="setNavBackOpacity(false)">
  <a [routerLink]="['home']" class="logo">
    <app-logo></app-logo>
  </a>
  <ul class="nav-links">
    <div class="primary-links links-container">
      <li class="nav-item"><a [routerLink]="['news']" [class.active]="currentPage=='news' || currentPage==''">News &
          Changelog</a></li>
      <li class="nav-item"><a [routerLink]="['projects']" [class.active]="currentPage=='projects'">Projects</a></li>
      <li class="nav-item"><a [routerLink]="['about']" [class.active]="currentPage=='about'">About</a></li>
      
      <li class="nav-item"><a class="dont-hover-pad" (click)="switchSecondaryLinksDisplay()" [class.rotate-180deg]="displaySecondaryLinks"><i class="fas fa-chevron-down"></i></a></li>
    </div>

    <div class="social-links" *ngIf="displaySecondaryLinks">
      <li class="nav-item"><a href="mailto:fajsiexofficial@gmail.com"><i class="far fa-envelope"></i></a></li>
      <li class="nav-item"><a href="https://twitter.com/fajsiex"><i class="fab fa-twitter"></i></a></li>
      <li class="nav-item"><a href="https://github.com/FajsiEx"><i class="fab fa-github"></i></a></li>
    </div>
  </ul>


</nav>