@keyframes links-enter {
  from {
    opacity: 0;
    margin-top: -18px;
  }

  to {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes touch-bright {
  0% {
    filter: brightness(1);
  }
  15% {
    filter: brightness(1.5);
  }
  100% {
    filter: brightness(1);
  }
}

.header-background {
  background: linear-gradient(to bottom, #000, transparent);

  width: 100%;

  height: 76px;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 127;

  opacity: 0;

  transition: opacity 0.1s linear;
}

nav {
  width: 100%;
  height: calc(76px - (2 * 18px));

  padding: 18px 0;

  font-family: "Montserrat", Arial;
  font-weight: bold;

  display: flex;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 128;

  a {
    text-decoration: none;
    color: white;
    transition: padding 0.35s ease, transform 0.35s ease, filter 0.35s ease;
    filter: brightness(0.75);
  }

  a:hover {
    filter: brightness(0.85);
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.logo {
  display: inline-block;
  margin-left: 18px;
  font-size: 32px;
  font-style: italic;
  font-family: "Fredoka One", Arial;
  font-weight: 100;

  .logo-label {
    font-size: 12px;
    color: #ff0;
    opacity: 1 !important;
    filter: brightness(1) !important;
    position: absolute;
    bottom: 2px;
    left: 28px;
  }
}

.nav-links {
  list-style: none;

  margin: 0;
  padding: 0;

  margin-right: 12px;

  animation: 0.5s links-enter ease;

  @media screen and (max-width: 768px) {
    li {
      width: 100%;
    }

    .links-container {
      flex-wrap: wrap;
      text-align: center;
    }

    .social-links {
      float: none;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .links-container {
    display: flex;

    justify-content: middle;
    align-items: center;
  }

  a {
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
  }

  a:hover {
    padding: 10px 20px;

    &.dont-hover-pad {
      padding: 10px 15px !important;
    }
  }

  a.active {
    filter: brightness(1);
    padding: 10px 20px;
  }

  .rotate-180deg {
    transform: scaleY(-1);
  }
}

.social-links {
  list-style: none;
  display: block;
  text-align: right;

  width: 45px;
  float: right;

  animation: 0.5s links-enter ease;

  a i {
    font-size: 18px;
  }

  a:hover {
    padding: 17px 15px !important;
  }
}


.fab {
    position: fixed;
    bottom:24px;
    right: 24px;

    width: 56px;
    height: 56px;

    text-align: center;
    vertical-align: middle;
    background: var(--color-blue);

    border-radius: calc(56px / 2);

    z-index: 256;

    &:hover {
        animation: 0.5s touch-bright ease;
    }

    i {
        margin-top: 19px;
    }
}