@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Montserrat|Ubuntu&display=swap');

$background-color: #161622;
$text-color: #eee;

@keyframes float-up {
  0% {
    margin-top: 70px;
    opacity: 0;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 5px !important;
  display: none;
}

:root {
    --color-green: #2c0;
    --color-cyan: #0cf;
    --color-blue: #08f;
    --color-yellow: #cc0;
    --color-orange: #f80;
    --color-red: #f22;

    --color-project-website: linear-gradient(to bottom, #0af, #05a);
    --color-project-wanilla: linear-gradient(to bottom, #0cc, #cc0);
    --color-project-teabotre: linear-gradient(to bottom, #08f, #f0f);
}

body {
  background: $background-color;
  color: $text-color;
  font-family: 'Montserrat', Arial;
  margin:0;
}

.page-header {
  background: linear-gradient(to bottom right, #222, #060606);
  padding-top: calc(12vh + 76px);

  .edge {
    background:#161622;
    clip-path: polygon(0% 0%, 100% calc(100% - 3px), 100% 100%, 0% 100%);
    margin-top: 14vh;
    z-index: -50;
    transform: translateY(2px);
  }
}

app-home .page-header {
  background: linear-gradient(to bottom right, #215aed, #4b36ed, #692be5);
}
app-news .page-header {
  background: linear-gradient(to bottom right, #07f, #05a);
}
app-projects .page-header {
  background: linear-gradient(to bottom right, #1a0, #060);
}
app-about .page-header {
  background: linear-gradient(to bottom right, #f80, #a60);
}

.page-title {
  font-size: 48px;
  text-align: center;
}

.wip-text {
  text-align: center;
  padding: 32px 10vw;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}



@media (min-width: 768px) {
  .container {
    width: 730px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 950px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1150px;
  }
}
