@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Montserrat|Ubuntu&display=swap');

$background-color: #161622;
$text-color: #eee;

@keyframes float-up {
  0% {
    margin-top: 70px;
    opacity: 0;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 5px !important;
  display: none;
}

:root {
    --color-green: #2c0;
    --color-cyan: #0cf;
    --color-blue: #08f;
    --color-yellow: #cc0;
    --color-orange: #f80;
    --color-red: #f22;
}

body {
  background: $background-color;
  color: $text-color;
  font-family: 'Montserrat', Arial;
  margin:0;
}

.page-header {
  background: linear-gradient(to bottom left, #07f, #05a);
  padding-top: 25vh;

  .edge {
    background:#161622;
    clip-path: polygon(0% 0%, 100% 100%, 100% 100%, 0% 100%);
    margin-top: 12vh;
    z-index: -50;
  }
}

.page-title {
  font-size: 48px;
  text-align: center;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}



@media (min-width: 768px) {
  .container {
    width: 730px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 950px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1150px;
  }
}
