@import url("https://fonts.googleapis.com/css?family=Fredoka+One|Montserrat|Ubuntu&display=swap");
@import "~@angular/material/prebuilt-themes/purple-green.css";

$background-color: #161622;
$text-color: #eee;

@keyframes float-up {
  0% {
    margin-top: 70px;
    opacity: 0;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 5px !important;
  display: none;
}

:root {
  --color-background: rgb(
    calc((1 - var(--global-darkness)) * 22),
    calc((1 - var(--global-darkness)) * 22),
    calc((1 - var(--global-darkness)) * 34)
  );
  --color-background-l1: rgb(
    calc((1 - var(--global-darkness) * 0.5) * 34),
    calc((1 - var(--global-darkness) * 0.5) * 34),
    calc((1 - var(--global-darkness) * 0.5) * 51)
  );

  --color-background-l2: #282838;

  --color-white: #fff;
  --color-green: #2c0;
  --color-cyan: #0cf;
  --color-blue: #08f;
  --color-yellow: #cc0;
  --color-orange: #f80;
  --color-red: #f22;

  --color-background-white: #fff;
  --color-background-green: #2c0;
  --color-background-cyan: #0cf;
  --color-background-blue: #048;
  --color-background-yellow: #cc0;
  --color-background-orange: #840;
  --color-background-red: #f22;

  --color-project-website: linear-gradient(to bottom right, #0af, #05a);
  --color-project-wanilla: linear-gradient(to bottom right, #0cc, #cc0);
  --color-project-teabotre: linear-gradient(to top right, #08f, #f0f);

  --border-radius-default: 8px;

  //--shadow-l1: 2px 2px 6px 0px rgba(0, 0, 0, 0.75);

  --filter-hover: brightness(1.1);
  --filter-active: brightness(1.2);

  --transition-default: all 0.35s ease;

  --global-darkness: 0; // Multiplier for how dark should the theme be (0 - 1)
}

body {
  background: $background-color;
  color: $text-color;
  font-family: "Montserrat", Arial;
  margin: 0;
}

:focus {
  outline: none;
}

.mat-expansion-panel {
  background: var(--color-background-l1);

  &:not([class*=mat-elevation-z]) {
    box-shadow: none;
    border-bottom: 1px solid rgba(0,0,0,0.15);
  }

  @media (max-width: 768px) {
    .mat-expansion-panel-header {
      padding: 8px 24px;
    }

    .mat-content {
      flex-direction: column;
    }
  }

  .mat-expansion-panel-header-title {
    display: block;
    width: 140px;
    flex-grow: 0;
  }
}

.tooltip {
  font-size: 14px;
  background: var(--color-background-l2);
}

.page-title {
  font-size: 48px;
  text-align: center;
}

.wip-text {
  text-align: center;
  padding: 32px 10vw;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.color-red {
  color: var(--color-red);
}
.color-green {
  color: var(--color-green);
}
.color-blue {
  color: var(--color-blue);
}
.color-yellow {
  color: var(--color-yellow);
}
.color-orange {
  color: var(--color-orange);
}
.color-cyan {
  color: var(--color-cyan);
}

.background-red {
  background: var(--color-red);
}
.background-green {
  background: var(--color-green);
}
.background-blue {
  background: var(--color-background-blue);
}
.background-yellow {
  background: var(--color-yellow);
}
.background-orange {
  background: var(--color-background-orange);
}
.background-cyan {
  background: var(--color-cyan);
}

.bold {
  font-weight: bold;
}

.border {
  background: #fff;
  width: 4px;
  margin-left: 4px;
  border-radius: 2px;

  &.border-red {
    background: var(--color-red);
    box-shadow: 0px 0px 14px 0px var(--color-red);
  }
  &.border-green {
    background: var(--color-green);
    box-shadow: 0px 0px 14px 0px var(--color-green);
  }
  &.border-blue {
    background: var(--color-blue);
    box-shadow: 0px 0px 14px 0px var(--color-blue);
  }
  &.border-orange {
    background: var(--color-orange);
    box-shadow: 0px 0px 14px 0px var(--color-orange);
  }
  &.border-cyan {
    background: var(--color-cyan);
    box-shadow: 0px 0px 14px 0px var(--color-cyan);
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.col {
  margin: 8px;

  flex-basis: calc(33.33% - 16px);
  width: 100%;

  @media screen and (max-width: 992px) {
    flex-basis: calc(50% - 16px);
  }
  @media screen and (max-width: 768px) {
    flex-basis: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 730px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 950px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1150px;
  }
}
