@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Montserrat|Ubuntu&display=swap');

$background-color: #161622;
$text-color: #eee;

@keyframes float-up {
  0% {
    margin-top: 70px;
    opacity: 0;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 5px !important;
  display: none;
}

:root {
    --color-background: #161622;
    --color-background-l1: #223;

    --color-white: #fff;
    --color-green: #2c0;
    --color-cyan: #0cf;
    --color-blue: #08f;
    --color-yellow: #cc0;
    --color-orange: #f80;
    --color-red: #f22;

    --color-project-website: linear-gradient(to bottom, #0af, #05a);
    --color-project-wanilla: linear-gradient(to bottom, #0cc, #cc0);
    --color-project-teabotre: linear-gradient(to bottom, #08f, #f0f);

    --border-radius-default: 6px;

    --shadow-l1: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
    --shadow-l2: 2px 2px 6px 0px rgba(0, 0, 0, 0.75);

    --transition-default: all 0.35s ease;
}

body {
  background: $background-color;
  color: $text-color;
  font-family: 'Montserrat', Arial;
  margin:0;
}

.page-title {
  font-size: 48px;
  text-align: center;
}

.wip-text {
  text-align: center;
  padding: 32px 10vw;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}



@media (min-width: 768px) {
  .container {
    width: 730px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 950px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1150px;
  }
}
